@use "../abstracts";

html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(41%) saturate(1370%) hue-rotate(217deg) brightness(98%) contrast(95%);

    --body-bg: #F6F6F6;
    --header-bg-color: #eee;
    --top-act-group-color: #FFF;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #EDEDF6;

    // Dropdown
    --dropdown-bg-color: #FFF;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);

    @include abstracts.breakpoint(lg) {
        --header-bg-color: #FFF;
    }

    
}